/* reset style */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
:focus {
	outline: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset styles end */

/* special fonts */
@font-face {
	font-family: FranklinGothicBookCondTT;
	src: url(fonts/FRG57__U.TTF);
}
@font-face {
	font-family: FranklinGothicMediumCondTT;
	src: url(fonts/FRG67__U.TTF);
}

/* footer */
.footer {
	height: 29px;
	font-size: 9pt;
	line-height: 30px;
}
.footer .left {
	padding-left: 40px;
	background: url(footer.png) no-repeat left top;
}
.footer .right {
	width: 40px;
	background: url(footer.png) no-repeat right top;
}
/* styled select */
div.styled-select {
	position: relative;
}
select.styled-select {
	position: relative;
	z-index: 10;
	width: 142px !important;
	height: 27px !important;
	line-height: 27px;
	margin-bottom: 8px;
	text-indent: 10px;
	font-size: 11pt;
	padding: 5px;
}
/* dynamically created SPAN, placed below the SELECT */
span.styled-select {
	position: absolute;
	bottom: 0;
	float: left;
	left: 0;
	width: 142px;
	height: 27px;
	line-height: 27px;
	text-indent: 10px;
	background: url(select.png) no-repeat left 0;
	cursor: default;
	z-index: 1;
	margin-bottom: 11px;
}
span.styled-select option {
	font-size: 15pt;
}
/* styled checkbox */
.styled-checkbox > input {
	cursor: pointer;
	position: absolute;
	opacity: 0;
}
.styled-checkbox > input + label {
	cursor: pointer;
	padding-left: 20px;
	font-family: Tahoma;
	font-size: 10.5pt;
	background: url(checkbox.png) 0px 1px no-repeat;
}
.styled-checkbox > input + label + span {
	cursor: pointer;
	font-family: Tahoma;
	font-size: 10.5pt;
	color: #5495df;
	border-bottom: 1px dashed #019163
}
.styled-checkbox > input + label span:hover {
	border-bottom: none;
}
.styled-checkbox > input:checked + label {
	background-position: 0px -15px;
}
.styled-checkbox > input:disabled + label {
	background-position: 0px -30px;
}
.styled-checkbox > input:disabled:selected + label {
	background-position: 0px -46px;
}
/* alt floating message */
.ns_alt {
	float: left;
	position: relative;
	width: 100%;
}
.alt {
	display: none;
	bottom: 15px;
	left: 0;
	position: absolute;
	width: 307px;
	z-index: 100;
}
.alt p {
	margin-bottom: 14px;
}
.alt_top {
	background: url("alt_t.png") repeat scroll 0 0 transparent;
	font-size: 0;
	height: 10px;
}
.alt_bot {
	background: url("alt_b.png") repeat scroll 0 0 transparent;
	height: 30px;
}
.alt_cnt {
	background: url("alt_c.png") repeat scroll 0 0 transparent;
	padding: 0 4px;
}
.alt .content {
	background: none repeat scroll 0 0 white;
	padding: 10px 20px;
}
.alt .content h5 {
	color: #333333;
	margin: 0 0 5px;
}
.alt .content small {
	font-size: 8pt;
	line-height: 1.5;
}
.close_alt {
	background: url("alt_close.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 12px;
	top: 12px;
	width: 16px;
}
/* basic font */
body {
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10.5pt;
	background: url(pattern.png);
}
a {
	color: #5495df;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	line-height: 0;
	font-size: 0;
	height: 0;
}
.hidden {
	display: none;
}
/* basic layout */
#main-wrapper {
	width: 708px;
	height: 506px;
}
#main-wrapper.top-menu {
	position: relative;
}
#main-wrapper.alert {
	text-align: center;
}
#main-wrapper .header {
	background-image: url(pattern.png);
	padding: 22px 20px 0px 20px;
	height: 67px;
}
#main-wrapper.tabbed .header {
	height: 93px;
}
#main-wrapper.top-menu .header {
	padding-top: 13px;
	height: 37px;
	position: relative;
}
#main-wrapper .header .nav {
	margin-left: -5px;
}
#main-wrapper .header .nav > div, #main-wrapper .header .nav > a {
	float: left;
	margin-right: 5px;
}
#main-wrapper .header h1 {
	font-family: FranklinGothicBookCondTT, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18pt;
	margin-bottom: 5px;
}
/* layout for tabs */
#main-wrapper ul.tabs {
	display: block;
	overflow: visible;
	margin-top: 17px;
	padding: 0;
	height: 34px;
	width: 100%;
}
#main-wrapper ul.tabs > li {
	cursor: pointer;
	float: left;
	font-family: FranklinGothicBookCondTT, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	height: 33px;
	width: 31%;
	display: block;
	padding-right: 10px;
	line-height: 40px;
	text-align: center;
	position: relative;
}
#main-wrapper ul.tabs > .selected {
	z-index: 5;
	height: 34px;
	margin-top: -1px;
}
#main-wrapper ul.tabs > li > span {
	height: 100%;
	display: block;
}
#main-wrapper ul.tabs > li > .left {
	background: url(tab.png) no-repeat left top;
}
#main-wrapper ul.tabs > li > .right {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	background: url(tab.png) no-repeat right top;
}
#main-wrapper .shadow-separator {
	position: relative;
	top: -7px;
	height: 7px;
	background-image: url(shadow.png);
	z-index: 2;
}
/* layout for main div*/
#main-wrapper .main-content {
	top: -7px;
	position: relative;
	background: white;
}
#main-wrapper.tabbed .main-content {
	height: 391px;
}
#main-wrapper.top-menu .main-content {
	height: 454px;
}
#main-wrapper.scroll .main-content {
	overflow-y: scroll;
	overflow-x: hidden;
}
#main-wrapper .product-item-separator {
	position: relative;
	width: 1px;
	height: 417px;
	top: -7px;
	float: left;
	background: url(separator.png) no-repeat right center;
}
#main-wrapper .product-item-wrapper {
	position: relative;
	width: 50%;
	height: 417px;
	float: left;
}
#main-wrapper.tabbed product-item-wrapper {
	height: 391px;
}
#main-wrapper .product-item-wrapper.separated {
	background: url(separator.png) no-repeat right center;
}
#main-wrapper .product-item-wrapper.styled {
	background: url(highlight_blue.png) no-repeat right top;
}
#main-wrapper .footer-wrap {
	position: absolute;
	width: 708px;
	text-align: center;
	bottom: 0;
}
#main-wrapper .footer-wrap .footer {
	display: inline-block;
}
#main-wrapper .product-detailed-wrapper {
	width: 100%;
	position: relative;
	top: -7px;
}
/* product wrapper inner layout */
.product-item {
	position: relative;
	padding-top: 26px;
	padding-left: 35px;
	padding-right: 30px;
}
.product-item .product-advert {
	font-family: FranklinGothicMediumCondTT, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	position: relative;
	margin-bottom: 3px;
}
.product-item .product-advert.special {
	color: #de8136;
}
.product-item .product-advert.upgrade {
	color: #a263dc;
}
.product-item .product-name {
	position: relative;
	font-family: FranklinGothicMediumCondTT, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16pt;
	margin-bottom: 6px;
}
.product-item .name-tag {
	position: relative;
	font-family: Arial;
	font-size: 10pt;
	height: 22px;
	line-height: 22px;
	margin-left: 3px;
	padding: 0 10px;
	top: -3px;
	color: white;
	display: inline-block;
	background: -webkit-linear-gradient(top,#00ca98,#008f65);
	background: -moz-linear-gradient(top,#00ca98,#008f65);
	background: -ms-linear-gradient(top,#00ca98,#008f65);
	background: -o-linear-gradient(top,#00ca98,#008f65);
}
.product-item p {
	text-align: left;
	padding-right: 3px;
	margin-right: 6px;
}
p.product-description {
	line-height: 1.45;
}
p.product-link {
	margin-top: 6px;
}
.product-item .info {
	padding-top: 19px;
	position: relative;
}
/* product detailed inner layout */
.product-detailed {
	padding-top: 40px;
}
.product-detailed > .left {
	width: 104px;
	padding-left: 50px;
	float: left;
	position: relative;
}
.product-detailed > .right {
	padding-left: 212px;
	padding-right: 79px;
}
.product-detailed .info {
	margin-bottom: 30px;
}
.product-detailed h1 {
	font-family: FranklinGothicMediumCondTT, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 20pt;
	margin-bottom: 12px;
}
.product-detailed p {
	text-align: left;
	margin-bottom: 7px;
}
.product-detailed .controls > div {
	float: left;
	margin-right: 10px;
}
.product-detailed .buy-button .try-link-wrapper {
	position: absolute;
	margin-top: 11px;
	margin-left: -2px;
	text-align: center;
}
.product-detailed .controls .try-link {
	text-align: center;
}
/* product special offers layout */
.product-special-wrapper {
	position: relative;
	padding-top: 26px;
}
.product-special {
	margin-bottom: 15px;
	position: relative;
	padding-top: 5px;
	padding-left: 35px;
	padding-right: 30px;
	padding-bottom: 15px;
	width: 643px;
	height: 33%;
}
.product-special.separated {
	background: url(list-separator.png) no-repeat center bottom;
}
.product-special > .product {
	position: relative;
	float: left;
	width: 13%;
}
.product-special > .info {
	float: left;
	width: 80%;
}
.product-special h1 {
	position: relative;
	font-family: FranklinGothicMediumCondTT, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16pt;
	margin-bottom: 6px;
}
.product-special p {
	text-align: left;
	padding-right: 3px;
	padding-bottom: 5px;
	margin-right: 6px;
}
/* privacy inner layout */

#main-wrapper .product-privacy-wrapper {
	position: relative;
	width: 100%;
}
#main-wrapper .product-privacy {
	padding-left: 22px;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
}
.product-privacy h1 {
	font-family: FranklinGothicBookCondTT, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 20pt;
	margin-bottom: 15px;
}
.product-privacy h2 {
	font-family: FranklinGothicBookCondTT, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: normal;
	color: #0d966b;
	margin-bottom: 7px;
}
.product-privacy p, ul {
	line-height: 1.45;
	margin: 10px auto;
}
.product-privacy li {
	margin: 5px auto;
	list-style: square outside;
}
.up-border {
	background: url(up-border.png) repeat-x;
	width: 100%;
	height: 43px;
	z-index: 5;
	position: absolute;
	top: 50px;
	right: 16px;
}
.down-border {
	background: url(down-border.png) repeat-x;
	width: 100%;
	height: 43px;
	z-index: 5;
	position: absolute;
	bottom: 0px;
	right: 16px;
}
/* product info inner layout */

#main-wrapper .product-info {
	padding-left: 35px;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 5px;
}
.product-info h1 {
	font-family: FranklinGothicMediumCondTT;
	font-weight: normal;
	font-size: 20pt;
	margin-bottom: 12px;
}
.product-info-item .product-item {
	padding-top: 15px;
}
.product-info-item .product-item.separated {
	background: url(small-separator.png) no-repeat right center;
}
/* product alert inner layout */
table {
	text-align: center;
	margin: 0 auto;
}

.alert {
	text-align: center;
	height: 473px;
}
.alert td {
	vertical-align: middle;
	padding: 0 100px;
}
.alert h1 {
	font-family: FranklinGothicMediumCondTT;
	font-size: 16pt;
	margin-bottom: 12px;
}
.alert div{
	margin-bottom: 15px;
}
.alert p {
	line-height: 1.3;
	font-family: Arial;
	font-size: 14px;
}
.alert .button{
	margin-top: 15px;
}
/* prices section */
.prices {
	line-height: 1.2;
	text-align: right;
}
.product-item .prices {
	margin-top: 35px;
}
.product-detailed .prices {
	line-height: 1;
	margin-top: 20px;
}
.product-detailed .prices p {
	width: 100%;
	text-align: right;
}
.prices .old-price {
	font-family: FranklinGothicMediumCondTT;
	font-size: 15pt;
	color: #aeaeae;
	text-decoration: line-through;
}
.prices .current-price {
	font-size: 20pt;
	font-family: FranklinGothicMediumCondTT;
	font-weight: normal;
	color: black;
}
.prices .savings {
	font-family: FranklinGothicMediumCondTT;
	font-size: 12pt;
	color: #d60000;
}
.prices .buy-small {
	margin-top: 3px;
}
.prices .buy-small a {
	float: left;
	margin-right: 10px;
}
.prices .buy-small div {
	float: left;
	margin-right: 8px;
	padding-top: 5px;
}
.prices .buy-small .try-link {
	padding-top: 5px;
}
/* product box image layout, one image for product, another for shadow */

.product-item .product-image-wrapper {
	width: 104px;
	top: 10px;
	left: 175px;
	position: absolute;
}
.product-detailed .product-image-wrapper {
	position: relative;
	width: 104px;
}
.product-image-wrapper .product-image {
	position: relative;
	width: 104px;
}
.product-image-wrapper .shadow {
	position: absolute;
	width: 144px;
	left: -7px;
	top: 134px;
}
.product-special .product-image-wrapper {
	width: 60px;
	position: relative;
}
.product-special-wrapper .product-image {
	position: relative;
	width: 60px;
}
.product-special-wrapper .shadow {
	position: absolute;
	width: 83px;
	left: -4px;
	top: 77px;
}
/* miss connection */
.miss_connection div{
	margin-bottom: 15px;
}